<!-- views/partials/3columns.ejs -->
<section name="content">
  <div class="container px-2 py-4 mt-md-4 mb-md-4">
    <h2 class="text-center">Food Menus</h2>

    <!--row-->
    <div
      class="row px-2 py-4 mt-4 d-flex justify-content-center align-items-center"
    >
      <!--column-->
      <div class="col-sm-12 col-md-3">
        <!-- card -->
        <div class="card mb-4 d-flex" style="width: auto">
          <img
            src="/public/assets/images/salmonroll.jpg"
            alt="image"
            class="card-img-top"
          />
          <div class="card-body">
            <h5 class="card-title">Salmon Roll</h5>
            <p class="card-text">$5.00</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>
        <!--card-->
      </div>
      <!--column-->

      <!--column-->
      <div class="col-sm-12 col-md-3">
        <!-- card -->
        <div class="card mb-4 d-flex" style="width: auto">
          <img
            src="/public/assets/images/californiaroll.jpg"
            alt="image"
            class="card-img-top"
          />
          <div class="card-body">
            <h5 class="card-title">California Roll</h5>
            <p class="card-text">$5.20</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>
        <!--card-->
      </div>
      <!--column-->

      <!--column-->
      <div class="col-sm-12 col-md-3">
        <!-- card -->
        <div class="card mb-4 d-flex" style="width: auto">
          <img
            src="/public/assets/images/salmonnigiri.jpg"
            alt="image"
            class="card-img-top"
          />
          <div class="card-body">
            <h5 class="card-title">Salmon Nigiri</h5>
            <p class="card-text">$2.00</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>
        <!--card-->
      </div>
      <!--column-->
    </div>
    <!--row-->

    <!--row-->
    <div
      class="row px-2 py-4 mt-4 d-flex justify-content-center align-items-center"
    >
      <!--column-->
      <div class="col-sm-12 col-md-3">
        <!-- card -->
        <div class="card mb-4 d-flex" style="width: auto">
          <img
            src="/public/assets/images/tunaroll.jpg"
            alt="image"
            class="card-img-top"
          />
          <div class="card-body">
            <h5 class="card-title">Tuna Roll</h5>
            <p class="card-text">$4.00</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>
        <!--card-->
      </div>
      <!--column-->

      <!--column-->
      <div class="col-sm-12 col-md-3">
        <!-- card -->
        <div class="card mb-4 d-flex" style="width: auto">
          <img
            src="/public/assets/images/ebinigiri.jpg"
            alt="image"
            class="card-img-top"
          />
          <div class="card-body">
            <h5 class="card-title">Ebi Nigiri</h5>
            <p class="card-text">$2.00</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>
        <!--card-->
      </div>
      <!--column-->

      <!--column-->
      <div class="col-sm-12 col-md-3">
        <!-- card -->
        <div class="card mb-3 d-flex" style="width: auto">
          <img
            src="/public/assets/images/unaginigiri.jpg"
            alt="image"
            class="card-img-top"
          />
          <div class="card-body">
            <h5 class="card-title">Unagi Nigiri</h5>
            <p class="card-text">$2.00</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
          </div>
        </div>
        <!--card-->
      </div>
      <!--column-->
    </div>
    <!--row-->
  </div>
</section>
