<!-- /views/pages/signin.ejs -->

<!DOCTYPE html>
<html lang="en-US">
  <!-- including /partials/head -->
  <%- include('../../views/partials/head') %>

  <body>
    <!-- including navbar -->
    <%- include('../../views/partials/nav') %>

    <!-- section -->
    <section class="p-5 mt-5 mb-2">
      <!--container-->
      <div
        class="form-container container mt-5 d-flex justify-content-center align-items-center col-sm"
      >
        <!--form-->
        <form
          class="signin-form row mt-3 px-2 py-5 d-flex justify-content-center align-items-center"
        >
          <h2
            class="mt-3 bg-text fw-bold text-left d-flex justify-content-center align-items-center"
          >
            Sign In
          </h2>

          <!--row-->
          <div
            class="row mt-3 g-3 d-flex justify-content-center align-items-center"
          >
            <div class="col-md-6 mb-1">
              <label for="exampleFormControlInput1" class="form-label"
                >Email address:</label
              >
              <input
                type="email"
                class="form-control"
                id="exampleFormControlInput1
                "
                name="email"
                placeholder="Your email address.."
              />
            </div>
          </div>
          <!--row-->

          <!--row-->
          <div class="row g-3 d-flex justify-content-center align-items-center">
            <div class="col-md-6 mb-3">
              <label for="exampleFormControlInput1" class="form-label"
                >Password:</label
              >
              <input
                type="password"
                class="form-control"
                id="exampleFormControlInput1"
                name="password"
                placeholder="Your password.."
              />
            </div>
          </div>
          <!--row-->

          <!--row-->
          <div class="row d-flex justify-content-center">
            <button
              type="submit"
              class="btn btn-primary mt-4 mb-2 col-md-6 p-2"
            >
              Sign in
            </button>
          </div>
          <!--row-->

          <!--row-->
          <div class="row d-flex justify-content-center">
            <div class="col-md-6 d-flex justify-content-center mt-4">
              <p>
                Not a member?
                <a href="/register" class="link-primary">Register</a>
              </p>
            </div>
          </div>
          <!--row-->

          <!--row-->
          <div class="row d-flex justify-content-center">
            <div class="col-md-8 d-flex justify-content-center mt-1">
              <p>
                Forgot your password?
                <a href="/forgottenpassword" class="link-primary"
                  >Reset password</a
                >
              </p>
            </div>
          </div>
        </form>
      </div>
      <!--container-->
    </section>
    <!-- section -->

    <!-- including footer -->
    <%- include('../../views/partials/footer') %>
  </body>
</html>
